* {
    font-family: "Poppins", monospace;
    /* font-weight: normal; */
    font-weight: bold;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
}

body {
    background-color: #212121;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    row-gap: 2em;
    padding: 2em 1em;
    margin: 0em;
    max-width: 320px;
    border: 1px solid #fff;
    height: 500px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em;
}

.center {
    width: 100%;
    text-align: center;
}

.icon {
    font-size: 400%;
}

a {
    color: #fff;
    text-decoration: none !important;
}

row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    column-gap: 1em;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 1em;
}

table {
    border: 1px solid #fff!important;
}

td {
    border-bottom: 1px solid #fff!important;
    border-right: 1px solid #fff!important;
    font-size: 0.65em!important;
    padding: 0.4em;
    text-align: left;
    border-collapse: collapse!important;
}

@media only screen and (max-width: 350px) {
    body {
        height: 600px;
    }
}